* {
    margin: 0;
    padding: 0;
}

html, body, .stage, .ring, .img {
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    /*user-select: none;*/
}

html, body{
    overflow: hidden;
    background: #000;
}

div {
    position: absolute;
}

.wrapper {
    perspective: 2000px;
    width: 300px;
    height: 400px;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}

